<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

        #container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #container > div > form {
            width: fit-content;
            background-color: rgb(209, 209, 209);
            margin: 20px;
            padding: 10px;
        }

        #container > div > form > img {
            width: 400px;
        }

        #container > div > form > p {
            width: 400px;
            word-break: break-all;
        }

    </style>

</head>
<body>
    
    <a href="/form"> Form </a>
    <div id="container"></div>

    <script>

        async function buscar() {

            const Dados = await fetch('/postagens');
            const dados = await Dados.json()
            
            dados.forEach(dados => {

                let container = document.querySelector('#container');
                let div = document.createElement('div');

                div.innerHTML = `
                
                    <form onsubmit="deletar(event, '${dados.id}', '${dados.img}')">

                        <img src="${dados.img}"><br> 
                        <p> ${dados.msg} </p><br> 
                        <button type="submit"> Deletar </button>

                    </form>
                
                `

                container.appendChild(div);

            });

        }buscar();

        async function deletar(event, id, url) {

            event.preventDefault();

            let container = document.querySelectorAll('#container > div');

            let Dados = await fetch(`/postagens/${id}/${url}`, {
                method: 'delete'
            });

            let dados = await Dados.json();

            container.forEach(div => {
                div.innerHTML = ''
            })
            
            buscar();
            alert(dados.msg);

        }

    </script>

</body>
</html>